.form{
  width: 80%;
  margin: 10% auto;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5%;
  padding: 20px;
}
.todoList {
  width: 80%;
  margin: 2% auto;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5%;
  padding: 20px;
 
}
.todo{
  border: 1px solid grey;
  border-radius: 5%;
}